<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seckill.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.seckill.pojo.Order">
        <id column="id" property="id" />
        <result column="user_id" property="user_id" />
        <result column="goods_id" property="goods_id" />
        <result column="addr_id" property="addr_id" />
        <result column="goods_name" property="goods_name" />
        <result column="goods_count" property="goods_count" />
        <result column="goods_price" property="goods_price" />
        <result column="order_channel" property="order_channel" />
        <result column="status" property="status" />
        <result column="create_date" property="create_date" />
        <result column="pay_date" property="pay_date" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, goods_id, addr_id, goods_name, goods_count, goods_price, order_channel, status, create_date, pay_date
    </sql>

</mapper>
